doctype html
html
  head
    meta(charset="UTF-8")
    meta(name="keywords" content="")
    meta(name="description" content="")
    meta(name="author" content="")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(rel="shortcut icon" href="/favicon.ico")
    link(rel="stylesheet" href='/css/main.css')
    block title
      title База холод
  body
    block main
      .mainWrapper
        block header
            include ../template/header.pug
            +header()
        block content
      block footer
          include ../template/footer.pug
    include ../template/modal.pug
    script(src='/js/main.js')
