//- index.pug
extends ../layout/h1.pug
block main
  .mainWrapper.first-screen.uk-flex
    .first-screen__wrap.uk-flex.uk-flex-column.uk-flex-space-between
      block header
        include ../template/header.pug
        +header('news').header_news
      block content
          .first-screen__cont.screen-news.uk-flex
            .container-content.uk-flex
              .first-screen__cont-wrap.uk-flex.uk-flex-middle
                .screen-news__left
                  .screen-news__title-sup Последние
                  .screen-news__title Новости, объявления, статьи
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                .screen-news__right
                  .screen-news-box
                    .ta-just
                      .screen-news-box__title.uk-display-inline-block Новости
                      | &nbsp;
                      a.screen-news-box__link-all.uk-display-inline-block
                        span Показать все новости
                        | &nbsp;
                        i.uk-icon-angle-right.icon-circle
                    .screen-news-box__list.uk-grid.uk-grid-width-large-1-3
                      .screen-news-box__item
                        .screen-news-box-item
                          a.screen-news-box-item__link(href="#")
                          .screen-news-box-item__img
                            img(src="http://lorempixel.com/400/200/cats/1" width="220" height="109")
                            span.screen-news-box-item__img-span Читать далее #[i.uk-icon-angle-right.icon-circle ]
                          .screen-news-box-item__title Полноценное рабочее место в аренду на один день
                      .screen-news-box__item
                        .screen-news-box-item
                          a.screen-news-box-item__link(href="#")
                          .screen-news-box-item__img
                            img(src="http://lorempixel.com/400/200/cats/1" width="220" height="109")
                            span.screen-news-box-item__img-span Читать далее #[i.uk-icon-angle-right.icon-circle ]
                          .screen-news-box-item__title Полноценное рабочее место в аренду на один день
                      .screen-news-box__item
                        .screen-news-box-item
                          a.screen-news-box-item__link(href="#")
                          .screen-news-box-item__img
                            img(src="http://lorempixel.com/400/200/cats/1" width="220" height="109")
                            span.screen-news-box-item__img-span Читать далее #[i.uk-icon-angle-right.icon-circle ]
                          .screen-news-box-item__title Полноценное рабочее место в аренду на один день
                  .screen-news-box
                    .ta-just
                      .screen-news-box__title.uk-display-inline-block Объявления
                      | &nbsp;
                      a.screen-news-box__link-all.uk-display-inline-block
                        span Показать все новости
                        | &nbsp;
                        i.uk-icon-angle-right.icon-circle
                    .screen-news-box__list.uk-grid.uk-grid-width-large-1-3
                      .screen-news-box__item
                        .screen-news-box-item
                          a.screen-news-box-item__link(href="#")
                          .screen-news-box-item__img
                            img(src="http://lorempixel.com/400/200/cats/1" width="220" height="109")
                            span.screen-news-box-item__img-span Читать далее #[i.uk-icon-angle-right.icon-circle ]
                          .screen-news-box-item__title Полноценное рабочее место в аренду на один день
                      .screen-news-box__item
                        .screen-news-box-item
                          a.screen-news-box-item__link(href="#")
                          .screen-news-box-item__img
                            img(src="http://lorempixel.com/400/200/cats/1" width="220" height="109")
                            span.screen-news-box-item__img-span Читать далее #[i.uk-icon-angle-right.icon-circle ]
                          .screen-news-box-item__title Полноценное рабочее место в аренду на один день
                      .screen-news-box__item
                        .screen-news-box-item
                          a.screen-news-box-item__link(href="#")
                          .screen-news-box-item__img
                            img(src="http://lorempixel.com/400/200/cats/1" width="220" height="109")
                            span.screen-news-box-item__img-span Читать далее #[i.uk-icon-angle-right.icon-circle ]
                          .screen-news-box-item__title Полноценное рабочее место в аренду на один день
                  .screen-news-box
                    .ta-just
                      .screen-news-box__title.uk-display-inline-block Статьи
                      | &nbsp;
                      a.screen-news-box__link-all.uk-display-inline-block
                        span Показать все новости
                        | &nbsp;
                        i.uk-icon-angle-right.icon-circle
                    .screen-news-box__list.uk-grid.uk-grid-width-large-1-3
                      .screen-news-box__item
                        .screen-news-box-item
                          a.screen-news-box-item__link(href="#")
                          .screen-news-box-item__img
                            img(src="http://lorempixel.com/400/200/cats/1" width="220" height="109")
                            span.screen-news-box-item__img-span Читать далее #[i.uk-icon-angle-right.icon-circle ]
                          .screen-news-box-item__title Полноценное рабочее место в аренду на один день
                      .screen-news-box__item
                        .screen-news-box-item
                          a.screen-news-box-item__link(href="#")
                          .screen-news-box-item__img
                            img(src="http://lorempixel.com/400/200/cats/1" width="220" height="109")
                            span.screen-news-box-item__img-span Читать далее #[i.uk-icon-angle-right.icon-circle ]
                          .screen-news-box-item__title Полноценное рабочее место в аренду на один день
                      .screen-news-box__item
                        .screen-news-box-item
                          a.screen-news-box-item__link(href="#")
                          .screen-news-box-item__img
                            img(src="http://lorempixel.com/400/200/cats/1" width="220" height="109")
                            span.screen-news-box-item__img-span Читать далее #[i.uk-icon-angle-right.icon-circle ]
                          .screen-news-box-item__title Полноценное рабочее место в аренду на один день
          .first-screen__bottom
            .container-content
              hr.border.border_w
            include ../template/footer-news.pug
            +footer('news').footer_w.footer_news
      block footer
