//- index.pug
extends ../layout/h1.pug
block main
  .mainWrapper.first-screen.uk-flex
    .first-screen__bg
      #hm-first-screen-bg
        .first-screen__bg-item(style="background-image: url(../img/bg-hm.png)")
        .first-screen__bg-item(style="background-image: url(../img/bg-hm.png)")
        .first-screen__bg-item(style="background-image: url(../img/bg-hm.png)")
    .first-screen__wrap.uk-flex.uk-flex-column.uk-flex-space-between
      block header
        include ../template/header.pug
        +header('home')
      block content
          .first-screen__cont.uk-flex
            .container-content.uk-flex
              .first-screen__cont-wrap.uk-flex.uk-flex-bottom
                div
                  include ../template/hm-actions-slider.pug
                  include ../template/hm-service.pug
          .first-screen__bottom
            include ../template/footer.pug
            +footer().footer_w
      block footer
