mixin footer
  footer.footer&attributes(attributes)
    .container-content
      .uk-flex.uk-flex-wrap.uk-flex-space-between.uk-flex-middle
        .footer__left
        .footer__center
          include social.pug
        .footer__right
          .copy #[img(src="../img/elgrow.png")]Сайт разработан в #[a Elgrow] 2016
