mixin header(page)
	header.header()&attributes(attributes)
		.container-content
			.header__left.uk-float-left
				.menu-btn(data-uk-modal="{target:'#modal-menu'}")
					button.menu-btn__bar
						span.menu-btn__line
						span.menu-btn__line
						span.menu-btn__line
					.menu-btn__txt Меню
				div.uk-display-inline-block
					a.header__logo(href="/")
						img(src="../img/logo-16.png")
						img(src="../img/logo-txt.png")
			.header__right.new-context
				.lang
					a.btn.btn_active.btn_active-left(href="#")(class= page== 'news' ? 'btn_dark' : 'btn_white') RU
					a.btn.btn_active-left(href="#")(class= page== 'news' ? 'btn_dark' : 'btn_white') EN
				.uk-float-right
					.header__contacts
						a.header__phone(href="tel:+7 (495) 934-70-00") +7 (495) 934-70-00
						.header__adress г. Москва, ул. Производственная, д. 11
					.header__right-btns
						a.btn.btn_line.btn_active.btn_active-left(href="#")(class= page== 'news' ? 'btn_dark' : 'btn_white')
							span.btn__txt Личный кабинет
							span.btn__line
						if (page == 'home')
							a.btn.btn_line.btn_active.btn_active-right(href="#modal-news", data-uk-modal)(class= page== 'news' ? 'btn_dark' : 'btn_white')
								span.btn__txt Новости и объявления
								span.btn__line
