.hm-actions-slider
  .hm-actions-slider__slides#hm-actions-slider
    .hm-actions-slider__slide
      .uk-flex.uk-flex-wrap.uk-flex-space-between.uk-flex-middle
        .hm-actions-slider__caption
          h2.hm-actions-slider__title Свой парк электропогрузчиков
          p Зарядных цех для электропогрузчиков арендаторов
        .hm-action-box.uk-text-center
          .hm-action-box__right
            span.hm-action-box__right-txt Акция
          .hm-action-box__cont
            .hm-action-box__title Название акции
            p
              | Арендные каникулы 2 недели при заключении договора аренды до конца лета!
            a.btn.btn_dark.btn_line.btn_active.btn_active-left(href="#")
              span.btn__txt Заказать
              span.btn__line
    .hm-actions-slider__slide
      .uk-flex.uk-flex-wrap.uk-flex-space-between.uk-flex-middle
        .hm-actions-slider__caption
          h2.hm-actions-slider__title Свой парк электропогрузчиков
          p Зарядных цех для электропогрузчиков арендаторов
        .hm-action-box.uk-text-center
          .hm-action-box__right
            span.hm-action-box__right-txt Акция
          .hm-action-box__cont
            .hm-action-box__title Название акции
            p
              | Арендные каникулы 2 недели при заключении договора аренды до конца лета!
            a.btn.btn_dark.btn_line.btn_active.btn_active-left(href="#")
              span.btn__txt Заказать
              span.btn__line
  .hm-actions-slider__bottom
    #hm-actions-slider-prev.hm-actions-slider__arrow.hm-actions-slider__arrow_left.sprite-arrow-left_w
    #hm-actions-slider-next.hm-actions-slider__arrow.hm-actions-slider__arrow_right.sprite-arrow-right_w
    #hm-actions-slider-pager
      a(data-slide-index="0" href="").bx-pager-link
      a(data-slide-index="1" href="").bx-pager-link
