.hm-service.uk-grid.uk-grid-collapse.uk-grid-width-large-1-3(data-uk-grid-match)
  .hm-service__item
    .hm-service__title Аренда складов и офисов
    .hm-service__cont
      ul.hm-service__list
        li Холодильные склады -1 +6
        li Морозильные склады -20 - 18
        li Сухие (теплые) склады
        li Офисы
        li Производственные помещения
  .hm-service__item
    .hm-service__title Ответственное хранение
    .hm-service__cont
      ul.hm-service__list
        li От 1 паллета
        li От 1 дня
        li Все температурные режимы
  .hm-service__item
    .hm-service__title Кросс-докинг
    .hm-service__cont
      ul.hm-service__list
        li От 1 Выгружаемые из железнодорожных вагонов в фуры и обратно
        li Перегружаем фуры в легкие грузовики
        li Собственный парк электропогрузчиков
