//- menu
#modal-menu.uk-modal.modal
  .uk-modal-dialog.uk-modal-dialog-blank.modal__dialog-news
    .uk-height-viewport.uk-flex.uk-flex-column.uk-flex-space-between
//- Новости и объявления
#modal-news.uk-modal.modal
  .uk-modal-dialog.uk-modal-dialog-blank.modal__dialog-news
    .uk-height-viewport#modal-news-cont
      .uk-modal-spinner
//- Спасибо
#modal-recall.uk-modal.modal
    .uk-modal-dialog.modal-bg.modal-width-small
        a.uk-modal-close.uk-close
        .title.title_line-s.uk-text-center Оставить заявку
        p.uk-text-center.
            Ваше сообщение успешно отправлено! Наши специалисты свяжутся с Вами в ближайшее время. Спасибо, что выбрали агрофирму "КРиММ"
