.btn {
  cursor:  pointer;
  text-transform: uppercase;
  font-size: 1rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  min-width: 56px;
  color: inherit;
  text-decoration: none !important;
  .animated-css3();
  box-shadow: 0 0 0 0 none;
  position: relative;
  display: inline-block;
  text-align: center;
  border: 1px solid #b4cadc;
  &:hover {
    color: inherit;
  }
  &_line {
    white-space: nowrap;
    padding-right: 20px;
  }
  &__txt {
    .inblock(middle);
  }
  &__line {
    .inblock(middle);
    position: relative;
    height: 1px;
    margin-left: 3px;
    width: 22px;
    background: currentColor;
    &:after {
      content: '';
      display: block;
      width: 4px;
      height: 100%;
      background: inherit;
      position: absolute;
      right: -6px;
      top: 0;
    }
    &:before {
      content: '';
      display: block;
      width: 2px;
      height: 100%;
      position: absolute;
      top: 0;
      right: -10px;
      background: inherit;
    }
  }
  &:before, &:after {
    content:'';
    position: absolute;
    display: block;
    border-color: inherit;
  }
  &:before {
    bottom: -1px;
    right: 80%;
    -webkit-transition: width 0.1s ease;
    -o-transition: width 0.1s ease;
    transition: width 0.1s ease;
    width: 0;
    height: 0;
  }
  &:after {
    bottom: -1px;
    left: -1px;
    width: 0;
    height: 0;
    -webkit-transition: width 0.1s ease  0.3s, height 0.1s ease 0.2s;
    -o-transition: width 0.1s ease  0.3s, height 0.1s ease 0.2s;
    transition: width 0.1s ease  0.3s, height 0.1s ease 0.2s;
  }
  &_active {

  }
  &_active-left {
    &:hover, &.btn_active {
      &:before {
        width: 20%;
        border-bottom: 2px solid;
      }
      &:after {
        height: 100%;
        width: 50%;
        border-left: 2px solid;
        border-top: 2px solid;
      }
    }
  }
  &_active-right {
    &:before {
      right: auto;
      left: 80%;
    }
    &:after {
      left: auto;
      right: -1px;
      border-right: 2px solid;
      border-left: none;
    }
    &:hover, &.btn_active {
      color: inherit;
      &:before {
        width: 20%;
        border-bottom: 2px solid;
      }
      &:after {
        height: 100%;
        width: 50%;
        border-right: 2px solid;
        border-top: 2px solid;
      }
    }
  }
  &_white {
    border: 1px solid #fff;
    border: 1px solid rgba(255,255,255,0.39);
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
  &_dark {
    color: #191919;
    .btn__line {
      background: @col-primary;
    }
    &:after, &:before {
      border-color: @col-primary !important;
    }
    &:hover {
      color: #191919;
    }
  }
}
