.first-screen {
  background-position: 50% 50%;
  -webkit-background-size: cover;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #7489a5;
  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  &__bg-item {
    background-position: 50% 50%;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    width: 100vw !important;
    height: 100vh !important;
  }
  &__wrap {
    min-height: 100vh;
    width: 100%;
    position: relative;
    z-index: 2;
  }
  &__cont {
    -webkit-flex-grow: 2;
    -moz-flex-grow: 2;
    -ms-flex-grow: 2;
    -o-flex-grow: 2;
    flex-grow: 2;
    .container-content {
      -webkit-flex-grow: 2;
      -moz-flex-grow: 2;
      -ms-flex-grow: 2;
      -o-flex-grow: 2;
      flex-grow: 2;
    }
  }
  &__cont-wrap {
    -webkit-flex-grow: 2;
    -moz-flex-grow: 2;
    -ms-flex-grow: 2;
    -o-flex-grow: 2;
    flex-grow: 2;
    border-left: 1px solid #e5e5e5;
    margin-left: -1px;
    // border-left: 1px solid rgba(255,255,255,0.39);
  }
  &__bottom {
    position: relative;
    z-index: 2;
  }
}
