.footer {
  padding: 8px 0;
  .clearfix;
  &_w {
    color: #fff;
  }
  a {
    color: inherit;
    &:hover {
      color: inherit;
    }
  }
  &_news {
    color: #000;
    margin-top: -33px;
    .copy {
      background: #fff;
    }
    .social {
      color: #cacaca;
      background: #fff;
      &__item {
        &:hover {
          color: #000;
        }
      }
    }
  }
}

.copy {
  padding: 8px 0;
  .font-l;
  font-size: 12px;
  line-height: 18px;
}
