.header {
  padding: 25px 0;
  color: #fff;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100px;
  &__left {
    // margin: 0 -10px;
    & > * {
      margin: 0 10px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  &__logo {
    .inblock(middle);
    margin: 0 -5px;
    cursor: pointer;
    img {
      margin: 0 5px;
      &:last-child {
        margin-top: -3px;
      }
    }
  }
  .lang {
    .inblock(middle);
    color: inherit;
    .btn {
      margin-left: 3.5px;
      &:first-child {
        margin-left: 0;
      }
    }
  }
  &__phone {
    font-size: 19px;
    text-decoration: none !important;
    color: inherit;
  }
  &__contacts {
    float: left;
  }
  &__right-btns {
    display: block;
    float: left;
    margin-left: 15px;
    .btn {
      display: block;
      margin-bottom: 14px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &_news {
    position: relative;
    .container-content {

    }


    .header__left {
      width: 34%;

    }
    .header__right {
      color: @col-font-1;
      background: #fff;
      position: relative;
      padding-left: 10px;
      & > * {
        position: relative;
      }
      &:before {
        content:'';
        position: absolute;
        left: 0px;
        top: 0;
        height: 100px;
        top: -25px;
        width: 4000px;
        background: #fff;
      }
    }
  }
}
