.hm-action-box {
  position: relative;
  padding-right: 55px;
  background: #fff;
  background: rgba(255,255,255,0.66);
  color: @col-font-1;
  line-height: normal;
  &__right {
    width: 55px;
    height: 100%;
    background: @col-primary;
    color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
  }
  &__right-txt {
    transform: rotate(-90deg);
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
    -ms-transform: translate(-50%, -50%) rotate(-90deg);
    transform: translate(-50%, -50%) rotate(-90deg);
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
  }
  &__cont {
    padding: 15px 28px 20px;
    max-width: 366px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    .font-l;
    .btn {
      width: 100%;
      max-width: 185px;
      margin-top: 5px;
    }
    p {
      margin: 10px 0;
    }
  }
  &__title {
    .font;
    font-size: 20px;
  }
}
