.hm-service {
  background-color: rgba(255, 255, 255, 0.25);
  color: #fff;
  font-size: 15px;
  &__item {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 30px 50px;
    border: 1px solid #fff;
    border: 1px solid rgba(255,255,255,0.39);
    border-left: none;
  }
  &__title {
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255,255,255,0.39);
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  &__list {
    .list-reset;
    li {
      margin: 5px 0;
      line-height: normal;
    }
  }
}
