.menu-btn {
  color: inherit;
  .inblock(middle);
  cursor: pointer; 
  &__bar {
    width: 20px;
    .inblock(middle);
    background: none;
    outline: none !important;
    border: none;
    padding: 0;
    color: inherit;
  }
  &__line {
    display: block;
    height: 3px;
    background: #fff;
    color: inherit;
    background: currentColor;
    margin: 2px 0;
    width: 100%;
    &:last-child {
      width: 60%;
    }
  }
  &__txt {
    color: inherit;
    .inblock(middle);
    margin: 0 3px;
  }
}
