.screen-news {
  &__left {
    width: 34%;
    padding: 40px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    .font-l;
    font-size: 15px;
  }
  &__right {
    height: 100%;
    background: #fff;
    width: 66%;
    padding: 45px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    &:before {
      content:'';
      position: absolute;
      background: #fff;
      top: 0;
      left: 0px;
      width: 4000px;
      height: 100vh;
    }

  }
  &__title-sup {
    font-size: 18px;
    line-height: normal;
  }
  &__title {
    font-size: 40px;
    text-transform: uppercase;
    line-height: normal;
  }
}
.border {
  margin: 0;
  &_w {
    border-top: 1px solid #e5e5e5;
    height: 0;
    background: none;
  }
}

.screen-news-box {
  position: relative;
  z-index: 2;
  border-bottom: 1px solid #eee;
  margin-bottom: 18px;
  &:last-child {
    border-bottom: none;
  }
  &__title {
    font-size: 19px;
  }
  &__link-all {
    text-decoration: none;
    color: inherit;
    font-size: 14px;
    .font-l;
    &:hover {
      text-decoration: none;
    }
  }
}

.screen-news-box-item {

  position: relative;
  &__link {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
  }

  &__img {
    height: 109px;
    position: relative;
    margin-bottom: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__img-span {
    position: absolute;
    display: inline-block;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    visibility: hidden;
    opacity: 0;
    z-index: 3;
  }
  &__title {
    position: relative;
    font-size: 15px;
    margin-bottom: 20px;
  }
  &:hover {
    .screen-news-box-item__img-span {
      visibility: visible;
      opacity: 1;
    }
    .screen-news-box-item__img {
      &:after {
        content: '';
        z-index: 2;
        position: absolute;
        display: block;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.4);
      }
    }
  }
}
