.bx-wrapper {
  margin: 0;
  background: none;
  border: none;
  box-shadow: none;
}

.hm-actions-slider {
  color: #fff;
  padding: 66px 0 140px 50px;
  margin-right: -55px;
  position: relative;
  &__caption {
    font-size: 18px;
    max-width: 615px;
  }
  &__title {
    font-size: 43px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 10px;
  }
  &__bottom {
    position: absolute;
    left: 50px;
    bottom: 0;
    padding: 20px 30px;
    float: left;
  }
  &__arrow {
    position: absolute;
    top: 50%;
    margin-top: -3px;
    z-index: 10;
    cursor: pointer;
    &_left {
      left: 0;
    }
    &_right {
      right: 0;
    }
  }
}

.bx-pager-link {
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  opacity: 0.329;
  width: 11px;
  height: 11px;
  .inblock(middle);
  margin: 2.5px;
  &.active {
    background-color: rgb(28, 132, 186);
  }
}
