/*
LESS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: @icon-home-width;
}

The large array-like variables contain all information about a single icon
@icon-home: x y offset_x offset_y width height total_width total_height image_path name;

At the bottom of this section, we provide information about the spritesheet itself
@spritesheet: width height image @spritesheet-sprites;
*/
@sprite-arrow-left-w-name: 'sprite-arrow-left_w';
@sprite-arrow-left-w-x: 0px;
@sprite-arrow-left-w-y: 0px;
@sprite-arrow-left-w-offset-x: 0px;
@sprite-arrow-left-w-offset-y: 0px;
@sprite-arrow-left-w-width: 25px;
@sprite-arrow-left-w-height: 7px;
@sprite-arrow-left-w-total-width: 25px;
@sprite-arrow-left-w-total-height: 14px;
@sprite-arrow-left-w-image: '/img/sprite.png';
@sprite-arrow-left-w: 0px 0px 0px 0px 25px 7px 25px 14px '/img/sprite.png' 'sprite-arrow-left_w';
@sprite-arrow-right-w-name: 'sprite-arrow-right_w';
@sprite-arrow-right-w-x: 0px;
@sprite-arrow-right-w-y: 7px;
@sprite-arrow-right-w-offset-x: 0px;
@sprite-arrow-right-w-offset-y: -7px;
@sprite-arrow-right-w-width: 25px;
@sprite-arrow-right-w-height: 7px;
@sprite-arrow-right-w-total-width: 25px;
@sprite-arrow-right-w-total-height: 14px;
@sprite-arrow-right-w-image: '/img/sprite.png';
@sprite-arrow-right-w: 0px 7px 0px -7px 25px 7px 25px 14px '/img/sprite.png' 'sprite-arrow-right_w';
@spritesheet-width: 25px;
@spritesheet-height: 14px;
@spritesheet-image: '/img/sprite.png';
@spritesheet-sprites: @sprite-arrow-left-w @sprite-arrow-right-w;
@spritesheet: 25px 14px '/img/sprite.png' @spritesheet-sprites;

/*
The provided classes are intended to be used with the array-like variables

.icon-home {
  .sprite-width(@icon-home);
}
.icon-email {
  .sprite(@icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite) {
  @sprite-image: extract(@sprite, 9);
  @sprite-image-bare: ~`"@{sprite-image}".slice(1, -1)`;
  background-image: url(@sprite-image-bare);
}

.sprite(@sprite) {
  .sprite-image(@sprite);
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

/*
The `.sprites` mixin generates identical output to the CSS template
  but can be overridden inside of LESS

This must be run when you have at least 2 sprites.
  If run with a single sprite, then there will be reference errors.

.sprites(@spritesheet-sprites);
*/
.sprites(@sprites, @i: 1) when (@i <= length(@sprites)) {
  @sprite: extract(@sprites, @i);
  @sprite-name: e(extract(@sprite, 10));
  .@{sprite-name} {
    .sprite(@sprite);
  }
  .sprites(@sprites, @i + 1);
}
